# Pytorch is provided by the image
# Task requirements
msgpack
Pillow>=7.1.0
celery
pydevd-pycharm

# SCAN requirements
easydict==1.9
joblib==1.0.1
numpy==1.20.2
Pillow==8.1.2
scikit-learn==0.24.1
scipy==1.6.2
termcolor==1.1.0
threadpoolctl==2.1.0
typing-extensions==3.7.4.3
faiss-gpu==1.7.0
matplotlib==3.4.1
tensorboard==2.4.1
